databases:
  - name: company-db
    plan: free
    # postgresVersion 또는 version 필드 모두 제거하여 기본값을 사용하도록 합니다.

services:
  - name: django-backend
    type: web
    plan: free
    env: docker
    rootDir: ./company
    ockerfilePath: Dockerfile
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: company-db
          property: connectionString
      - key: PYTHON_VERSION
        value: 3.10

  - name: react-frontend
    type: web
    plan: free
    rootDir: ./frontend
    buildCommand: npm install && npm run build
    staticPublishPath: build
    routes:
      - type: rewrite
        source: /*
        destination: /index.html