# ── company-project/render.yaml ──

databases:
  - name: company-db
    plan: free

services:
  # Django 백엔드
  - type: web
    name: django-backend
    plan: free
    env: docker
    rootDir: company           # manage.py와 Dockerfile 위치
    dockerfilePath: Dockerfile # 위 폴더 안의 Dockerfile
    startCommand: >
      python manage.py migrate --noinput &&
      python manage.py collectstatic --noinput &&
      gunicorn config.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: company-db
          property: connectionString
      - key: SECRET_KEY
        value: "5^bug+*qjmg3b)+bwp#j09-(wguw!umv&m2yatbv_ji0los_*!"
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: ".onrender.com,localhost,127.0.0.1"

  # React 프론트엔드
  - type: static
    name: react-frontend
    plan: free
    rootDir: frontend
    buildCommand: |
      npm install &&
      npm run build
    staticPublishPath: build
    envVars:
      - key: REACT_APP_API_BASE_URL
        value: "https://django-backend-gwoq.onrender.com/api"
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
