services:
  - type: web
    name: django-backend
    env: docker
    plan: free
    rootDir: .                       # ← 최상위 루트
    dockerfilePath: company/Dockerfile   # ← Dockerfile이 있는 경로
    startCommand: >
      python manage.py migrate --noinput &&
      python manage.py collectstatic --noinput &&
      gunicorn config.wsgi:application --bind 0.0.0.0:$PORT

    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: company-db
          property: connectionString
      - key: SECRET_KEY
        value: "5^bug+*qjmg3b)+bwp#j09-(wguw!umv&m2yatbv_ji0los_*!"
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: ".onrender.com,localhost,127.0.0.1"
